<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener class-name="Utility.Listener" />
	</listeners>

  <test name="functional">
  
    <classes>    
   	
      <class name="testcases.LoginTestCase"/><!-- Common for all -->
      <!-- One at time -->
      <class name="testcases.AddMultipleProducTestCase"/>
      <!-- 
      <class name="testcases.CheckOutOverViewTestCase"/>
      <class name="testcases.CheckoutPageTestCase"/>
      <class name="testcases.LoginTestCase"/>
      <class name="testcases.LogOutTestCase"/>
      <class name="testcases.ProductPageTestCase"/>
      <class name="testcases.YourCartTestcase"/> 
      -->
    
      
   	</classes>
   </test> <!-- Test -->
</suite> <!-- Suite -->
   
 